<% post.comments.each do |comment| %>
  <div class="mb-2">
    
    <span>
      <strong>
        <%= link_to comment.user.name, user_path(comment.user), class: "no-text-decoration black-color" %>
      </strong>
    </span>
    <span><%= comment.comment %></span>
    <% if comment.user == current_user %>
      <%= link_to "", post_comment_path(post.id, comment), method: :delete, remote: true, class: "glyphicon glyphicon-remove" %>
    <% end %>
  </div>
<% end %>